.UserDeckList {

}

.UserDeckList-data {
    width: 100%;
    flex-direction: row;
}

.UserDeckList-bar-container {
    width: 100%;
    min-height: 5px;
    background-color: grey;
    display: flex;
}



.UserDeckList-bar {
    flex: 1;
}

.UserDeckList-entry {
    min-height: 50px;
    width: 100%;

    background-color: antiquewhite;
    flex-direction: column;
    display: flex;
}

.UserDeckList-name {
    flex: 1;
}

.UserDeckList-button {
    padding: 5px;
}