.UserDeckList {

}

.UserDeckList-entry {
    min-height: 50px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    background-color: antiquewhite;
    flex-direction: row;
    display: flex;
}

.UserDeckList-name {
    flex: 1;
}

.UserDeckList-button {
    padding: 5px;
}